/* Global styles */
:root {
  /* PORTFOLIO COLORS */
  --raisin-black: rgb(46, 40, 42);
  --blue-green: rgb(23, 190, 187);
  --vermillion: rgb(205, 83, 52);
  --macaroni-cheese: rgb(237, 184, 139);
  --pale-pink: rgb(250, 216, 214);
  --seashell: rgb(255, 245, 238);

  --raisin-black-rgb-values: 46, 40, 42;
  --blue-green-rgb-values: 23, 190, 187;
  --vermillion-rgb-values: 205, 83, 52;
  --macaroni-cheese-rgb-values: 237, 184, 139;
  --pale-pink-rgb-values: 250, 216, 214;
  --seashell-rgb-values: 255, 245, 238;

  --typewriterSpeed: 2.5s;
  --typewriterSteps: 16;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--raisin-black);
  font-family: "Philosopher", sans-serif;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
/* General Styles */
h1 {
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 2.5px 2.5px 1px rgba(0, 0, 0, 0.95);
  color: var(--seashell);
  text-align: center;
}
.bold {
  font-weight: 700;
}
.blue-green {
  color: var(--blue-green);
}
.vermillion {
  color: var(--vermillion);
}
.pale-pink {
  color: var(--pale-pink);
}
.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--seashell);
  transition: 0.4s;
  background: linear-gradient(
    to bottom,
    var(--blue-green) 5%,
    var(--vermillion) 100%
  );
  background-color: var(--blue-green);
  box-shadow: 0px 25px 14px -7px #00000069;
  text-shadow: 1px 1px 1px var(--raisin-black);
  font-size: 0.95rem;
  font-weight: bold;
  padding: 9px 7px;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background: linear-gradient(
    to bottom,
    var(--macaroni-cheese) 5%,
    var(--pale-pink) 100%
  );
  background-color: var(--pale-pink);
  color: var(--raisin-black);
  text-shadow: 1px 1px 1px var(--seashell);
  border-radius: 8px;
}

/* Screen Readers Only class */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/* == Navigation Bar == */
nav {
  padding: 1.25rem 1rem 0.7rem;
  position: sticky;
  z-index: 3;
  top: 0;
  background-color: transparent;
  transition: background-color 0.8s ease-out, padding 0.4s ease-out;
}
.nav-menu {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  position: relative;
  margin: 0 0.625rem;
  padding: 0.625rem;
  color: var(--seashell);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: 0.2s ease-in-out;
}
/* hover effect on nav links*/
a.nav-link:before,
a.nav-link:after {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  content: "";
  background: rgba(var(--vermillion-rgb-values), 0.5);
  transition: all 0.5s ease-in;
}
a.nav-link:before {
  top: 0px;
}
a.nav-link:after {
  bottom: 0px;
}
a.nav-link:hover:before,
a.nav-link:hover:after {
  height: 100%;
}
.scroll {
  background: rgba(var(--raisin-black-rgb-values), 0.8);
  padding: 0.7rem 0.7rem 0.5rem;
}
@supports (backdrop-filter: blur(0.5rem)) {
  .scroll {
    background: rgba(var(--raisin-black-rgb-values), 0.6);
    backdrop-filter: blur(0.6rem);
  }
}
.mobile-nav-toggle {
  display: none;
}
@media (max-width: 38em) {
  nav {
    position: fixed;
    inset: 0 0 0 30%;
    background: rgba(var(--raisin-black-rgb-values), 0.95);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  nav[data-visible="true"] {
    transform: translateX(0%);
  }
  .nav-menu {
    flex-direction: column;
    padding: min(30vh, 10rem) 0.5em;
    gap: 2em;
  }
  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 999;
    background-color: transparent;
    background-image: url("./assets/icons/hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    border: none;
    right: 2rem;
    top: 2rem;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("./assets/icons/hamb-close.svg");
  }
}
/********* end navbar *********/

/* == Hello Animation == */
div.top-container {
  margin-top: 1rem;
  background-color: var(--vermillion);
}
.top-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  place-content: center;
  text-align: center;
}
h1.hideHello {
  opacity: 0;
  visibility: hidden;
}
h1.greeting {
  opacity: 1;
  visibility: visible;
  color: var(--seashell);
  position: relative;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1.greeting::before,
h1.greeting::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
}
h1.greeting::before {
  background-color: var(--vermillion);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterSteps))
    1.5s forwards;
}
h1.greeting::after {
  width: 0.4rem;
  background: var(--seashell);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterSteps))
      1.5s forwards,
    blinkTypewriter 650ms steps(8) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinkTypewriter {
  to {
    background: transparent;
  }
}
/* end hello animation */

/* == Projects Section ==*/
section#work.projects-section {
  background-color: var(--raisin-black);
}
.proj-title {
  color: var(--blue-green);
  margin-top: 4rem;
}
.projects-section {
  padding: 0.5rem;
}
.proj-grid {
  --padding: 1rem;
  --gap: 3rem;
  --num-cols: 1;
  --row-height: 250px;
  padding: 2rem var(--padding) 1rem;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
/* Media Queries for the Grid Layout */
@media screen and (min-width: 488px) {
  .proj-grid {
    --padding: 5rem;
    --row-height: 300px;
  }
}
@media screen and (min-width: 620px) {
  .proj-grid {
    --num-cols: 2;
    --padding: 2rem;
  }
}
@media screen and (min-width: 920px) {
  .proj-grid {
    --gap: 4rem;
    --padding: 4rem;
  }
}
@media screen and (min-width: 1080px) {
  .proj-grid {
    --padding: 6rem;
    --row-height: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .proj-grid {
    --num-cols: 3;
    --padding: 7rem;
  }
}
.image-grid-col-2 {
  grid-column: span 2;
}
.image-grid-row-2 {
  grid-row: span 2;
}
/*Hover title effect on project grid*/
.proj-item {
  position: relative;
  cursor: pointer;
}
.proj-item:active {
  transform: scale(0.97);
}
.proj-item img {
  object-fit: cover;
  border-radius: 20px;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--blue-green-rgb-values), 0.75);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
  border-radius: 20px;
}
.image__overlay {
  opacity: 0;
}
.image__overlay:hover {
  opacity: 1;
}
/* === Project Modals === */
.modal {
  top: 0;
  bottom: 0;
  left: 2%;
  overflow-y: auto;
  border-radius: 8px;
  width: 95%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: var(--raisin-black);
  transition: all 0.4s;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
/* Background Images of Modals */
.modal-bg-properties {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Pop-up Modal Layout */
.modal-header {
  padding: 2rem;
}
.modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal-content img {
  max-width: 100%;
  transition: 0.5s;
}
.modal-content img:hover {
  transform: scale(1.2);
}
.videoWrapper {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
  width: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-title {
  color: var(--pale-pink);
  font-size: 2rem;
  padding: 0.2rem 0.2rem 2.5rem;
}
.modal-body {
  margin: 0;
  color: var(--seashell);
  font-size: 1rem;
  padding: 2.5rem 1rem 0;
  line-height: 125%;
}
.modal-body p {
  margin: 0.2rem 0.2rem 1rem;
}
.modal-body h1 {
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
}
.featureList li {
  margin-bottom: 0.2rem;
  list-style: none;
  text-align: left;
}
.modal-body a.button {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.close-btn {
  background-color: transparent;
  color: var(--macaroni-cheese);
  border: none;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  transition: all 0.6s;
}
button.close-btn:hover {
  transform: rotateY(180deg);
  color: var(--vermillion);
}
/* == blue-green background when clicking modal ==*/
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--blue-green-rgb-values), 0.5);
}
#overlay.active {
  display: block;
}

/* == Media Queries == */
@media screen and (min-width: 680px) {
  .videoWrapper {
    padding-bottom: 46.25%;
  }
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -50%;
  }
  .modal-header {
    padding: 2rem;
  }
  .close-btn {
    font-size: 3.5rem;
  }
  .modal-content img {
    padding: 0 1rem;
  }
  .modal-body {
    font-size: 1.1rem;
    padding: 1rem 4rem 0.25rem;
  }
  .modal-title {
    font-size: 2.5rem;
    padding: 0.5rem 0.5rem 2rem;
  }
  .portfolio-section {
    margin: 0 auto;
    padding: 1rem 2rem;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    width: 75%;
  }
  .modal-body {
    padding: 2rem 8rem 0.5rem;
  }
  .modal-body p {
    margin: 0.2rem 0.2rem 1.5rem;
  }
  .modal-content img {
    width: 75%;
    margin: 0 auto;
  }
  .portfolio-section {
    width: 55%;
  }
  .button {
    font-size: 1rem;
    padding: 10px 8px;
  }
  .contact-button {
    font-size: 1rem;
    padding: 10px 8px;
  }
}
@media screen and (min-width: 1280px) {
  .videoWrapper {
    padding-bottom: 36.25%;
  }
  .modal-content img {
    padding: 0 2rem;
  }
  p.about-page_introduction {
    padding: 1rem 20rem;
  }
  .portfolio-section {
    width: 50%;
  }
}
@media screen and (min-width: 1450px) {
  .videoWrapper {
    padding-bottom: 36.25%;
  }
  .portfolio-section {
    width: 45%;
  }
}
@media screen and (min-width: 1620px) {
  .videoWrapper {
    padding-bottom: 34.25%;
  }
  .portfolio-section {
    width: 40%;
  }
}
